@import "tailwindcss";
@import url('https://fonts.loli.net/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #061b0e;
  --color-secondary: #476553;
  --color-surface: #faf9f7;
  --color-surface-container-low: #f4f3f1;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-fixed: #dae8be;
  --color-on-surface-variant: #434843;
  --color-outline-variant: #c3c8c1;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-sans);
}
